<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="main.maps">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="21" />

    <application
        android:name="utilisateur.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:largeHeap="true"
        android:fontFamily="sans-serif-medium">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="main.MainLancement"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name="main.MapsActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="main." />
            </intent-filter>
        </activity>
        <activity
            android:name="informations.MainInfo"
            android:label="@string/info">
        </activity>
        <activity
            android:name="utilisateur.MainConnexion"
            android:label="@string/connexion">
        </activity>
        <activity
            android:name="utilisateur.MainNouveau"
            android:label="@string/inscription">
        </activity>

    </application>
</manifest>
